.titulo{
    color: var(--cor-titulo);
    text-align: center;
    font-family: Alegreya Sans;
    font-size: 40px;
    margin-top: -40px;
    margin-bottom: 30px;
}

.texto {
    color: var(--cor-texto);
    text-align: justify;
    font-family: OdorMeanChey;
    font-size: 21px;
    line-height: 50px;
    margin: -4px 80px;
}

.imagem{
    width: 501px;
    margin-left: -2px;
    margin-top: 10px;
}

@media (max-width: 1025px) {
    .texto {
        font-size: 18px;
        line-height: 38px;
        margin: -15px 53px;
    }
}

@media (max-width: 767px) {
    .imagem{
        margin-left: 80px;
        margin-top: 38px;
    }
}

@media (max-width: 675px) {
    .texto{
        font-size: 18px;
        line-height: 36px;
        margin: 1px 52px;
    }
}

@media (max-width: 628px) {
    .imagem{
        margin-left: 47px;
        margin-top: 26px;
    }
}

@media (max-width: 576px) {
    .imagem{
        margin-left: 47px;
        width: 447px;
    }
}

@media (max-width: 490px) {
    .texto{
        font-size: 17px;
        line-height: 36px;
        margin: -9px 24px;
    }
}

@media (max-width: 480px) {
    .imagem{
        margin-left: 47px;
        width: 373px;
    }
}

@media (max-width: 441px) {
    .imagem{
        margin-left: 27px;
        width: 334px;
    }
}

@media (max-width: 376px) {
    .imagem{
        margin-left: 2px;
        width: 325px;
    }
}

@media (max-width: 325px) {
    .texto{
        font-size: 15px;
        line-height: 27px;
        margin: -9px 15px;
    }

    .titulo{
        font-size: 37px;
        margin-top: -67px;
    }

    .imagem{
        width: 290px;
        margin-left: 0px;
        margin-top: 21px;
    }

}

