:root{
  --cor-AulaGratis:#AC532A;
  --cor-titulo: #A25454;
  --cor-texto:#000;
  --texto-aula: #FFF;
  --verde-fundo: #B8C3BA;
  --cor-bege: #F6ECE2;
  --cor-nude: #D18B8B;
  --cor-Horario: #EFEFEF;
  --cor-Azul: #37464BFA;
 --cor-horario-linha: #7D211A;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  max-width: 100% !important;
}

iframe {
  max-width: calc(100% - 100px) !important;
}